extends layout
block content
  .container.medium-padding.center
    .tagsearch(onclick="showAll()" data-search="all") All
    .tagsearch(onclick="getTag(this)" data-search="donations") Donations
    .tagsearch(onclick="getTag(this)" data-search="mapping") Mapping
    .tagsearch(onclick="getTag(this)" data-search="missingpersons") Missing persons
    .tagsearch(onclick="getTag(this)" data-search="collectinginformation") Collecting information
    .tagsearch(onclick="getTag(this)" data-search="coordinatehelp") Coordinate help
  .container.section: .projects
    each project in projects
      if project.fields.Tags
        -
          var tags = project.fields.Tags.map(function(item){
            return item.replace(/\s+/g,'').toLowerCase();
          })   
      div(class=tags || '').card.project.margin-bottom
        if project.fields.Image[0]
          .center: a(target="_blank" href=project.fields.Website || ''): img(src=project.fields.Image[0].thumbnails.large.url)
        .title= project.fields.Name  || ''
        .tags
          if project.fields.Tags
            each tag in project.fields.Tags
              span.tag= tag || ''
        .description= project.fields.Description || ''
        .icons
          a(target="_blank" href=project.fields.Github || '').icon: i.fab.fa-github-square.fa-2x
          br
          a(target="_blank" href=project.fields.Website || '').icon: i.fas.fa-link.fa-2x
  
